body {
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app {
    margin: 50px auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.start-button {
    background-color: lightcoral;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.img-grow {
    scale: 2;
    transition-duration: 1s;
}

.img-shrink {
    scale: 1;
    transition-duration: 1s;
}